*.dSYM
*.dll
*.do
*.dwo
*.dylib
*.exe
*.expmap
*.h.gen
*.heapsnapshot
*.ji
*.jl.*.cov
*.jl.*.mem
*.jl.cov
*.jl.mem
*.o
*.o.tmp
*.obj
*.so
.DS_Store
.cache
.idea/*
.vscode/*
/*.tar.gz
/.buildkite
/Make.user
/dist
/dist-extras
/docs/Manifest*.toml
/docs/build/
/julia
/julia-*
/julia.bat
/oprofile_data
/perf*
/source-dist.tmp
/source-dist.tmp1
/test/results.json
/tmp
/usr
/usr-staging
agent_key*
repo_key
